<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AgregarDoc</servlet-name>
        <servlet-class>serv.AgregarDoc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>agregarPac</servlet-name>
        <servlet-class>serv.agregarPac</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValidaAcceso</servlet-name>
        <servlet-class>serv.ValidaAcceso</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>nConsulta</servlet-name>
        <servlet-class>serv.nConsulta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cConsulta</servlet-name>
        <servlet-class>serv.cConsulta</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AgregarDoc</servlet-name>
        <url-pattern>/AgregarDoc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>agregarPac</servlet-name>
        <url-pattern>/agregarPac</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValidaAcceso</servlet-name>
        <url-pattern>/ValidaAcceso</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>nConsulta</servlet-name>
        <url-pattern>/nConsulta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cConsulta</servlet-name>
        <url-pattern>/cConsulta</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
